@import url('https://fonts.googleapis.com/css?family=Orbitron');

#player {
  width: 400px;
  margin: auto;
  text-align: center;
}
#lcd {
  font-family: Orbitron;
  text-align: center;
  background: black;
  height: 42px;
  margin: 4px 0;
  color: green;
}
